fastapi
uvicorn[standard]
motor
pymongo
python-dotenv
pyjwt
passlib[bcrypt]
python-multipart
pydantic[email]

torch
torchvision
opencv-python-headless
numpy
pillow

nltk
textstat
wordfreq
transformers
sentencepiece

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
sentence-transformers
